# Core ML / DL
#tensorflow==2.12.0
numpy
pandas
scipy
matplotlib
seaborn

# Experiment tracking
mlflow==2.9.2
setuptools==65.5.0
importlib-metadata==6.8.0
protobuf==3.20.3

# MLOps / Versioning
dvc

# Utilities
notebook
tqdm
joblib
gdown

# Config & typing
python-box==6.0.2
PyYAML
types-PyYAML
ensure==1.0.2

# Web / API (for inference)
Flask
Flask-Cors

# Install local package
#-e .
